/*
 * Project: CashRewards
 * File: Main styles
 */

/*====================================================================================*/
/* _FONTS
/*====================================================================================*/
/*** Myriad Pro ***/
@font-face {
	font-family: 'Myriad Pro';
	src: url('/templates/rt/fonts/myriadpro-regular.eot');
	src: local('Myriad Pro'), url('/templates/rt/fonts/myriadpro-regular.woff') format('woff'), url('/templates/rt/fonts/myriadpro-regular.ttf') format('truetype'), url('/templates/rt/fonts/myriadpro-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad Pro';
	src: url('/templates/rt/fonts/myriadpro-bold.eot');
	src: local('Myriad Pro'), url('/templates/rt/fonts/myriadpro-bold.woff') format('woff'), url('/templates/rt/fonts/myriadpro-bold.ttf') format('truetype'), url('/templates/rt/fonts/myriadpro-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*====================================================================================*/
/* TEXT STYLES
/*====================================================================================*/
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	min-width: 320px;
	height: 100%;
	min-height: 100%;
	font: 14px/20px 'Myriad Pro', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
p {
	margin-bottom: 20px;
}
a {
	color: #dba436;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: color 0.2s ease, border 0.2s ease;
}
a:active,
a:hover,
a:focus {
	border-color: #dba436;
	color: #dba436;
	text-decoration: none;
}
textarea {
	resize: none;
}
input,
textarea {
	-webkit-appearance: none;
}
/*====================================================================================*/
/* _NAVBAR
/*====================================================================================*/
.navbar {
	min-height: 54px;
	padding: 15px 0;
	margin: 0;
	border-radius: 0;
}
.navbar-inverse {
	background: rgb(53, 52, 52);
	background: -moz-linear-gradient(top, rgba(53, 52, 52, 1) 0%, rgba(49, 48, 48, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(53, 52, 52, 1) 0%, rgba(49, 48, 48, 1) 100%);
	background: linear-gradient(to bottom, rgba(53, 52, 52, 1) 0%, rgba(49, 48, 48, 1) 100%);
}
.container > .navbar-header {
	margin-left: 0;
}
.navbar .navbar-brand {
	width: 140px;
	height: 24px;
	padding: 0;
	margin: 0;
	text-indent: -1000px;
	overflow: hidden;
	display: block;
	background: url('/templates/rt/images/logo.png') center center no-repeat;
	background-size: cover;
}
/*====================================================================================*/
/* _PAGE-HEADER
/*====================================================================================*/
.page-header {
	min-height: 300px;
	padding: 40px 0 20px;
	margin: 0;
	border: none;
	background: url('/templates/rt/images/page-header.jpg') 0 0 no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	color: #5a0f5f;
	text-align: center;
	font-size: 18px;
	line-height: 24px;
}
.page-header .h {
	margin: 0 0 26px;
	font-size: 36px;
	line-height: 40px;
	font-weight: normal;
}
.page-header .h .small {
	display: block;
	font-size: 20px;
	line-height: 28px;
	color: #5a0f5f;
}
/*====================================================================================*/
/* _INFORM
/*====================================================================================*/
.inform {
	min-height: 110px;
	padding: 20px 0;
	background: #6d2a72;
	color: #fff;
	font-size: 16px;
	line-height: 24px;
}
.inform .text {
	min-height: 100px;
	padding-left: 100px;
	position: relative;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
}
.inform .text .logo {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}
.inform p:last-of-type {
	margin-bottom: 0;
}
/*====================================================================================*/
/* _FOOTER
/*====================================================================================*/
.footer {
	padding: 35px 0 30px;
	background: #363535;
	color: #d4d4d3;
	text-align: center;
	font-size: 13px;
	line-height: 16px;
}
.footer .logo {
	width: 250px;
	height: 42px;
	margin: 0 auto 30px;
	display: block;
}
.footer hr {
	margin: 32px 0;
	border-color: #959595;
}
.footer p {
	margin-bottom: 16px;
}
.footer p:last-of-type {
	margin-bottom: 0;
}
/*====================================================================================*/
/* _MEDIA QUERIES
/*====================================================================================*/
@media (min-width: 568px) {
	.page-header {
		background-position: 60% center;
	}
	.page-header .page-area {
		max-width: 50%;
	}
}
@media (min-width: 768px) {
	.navbar {
		min-height: 113px;
		padding: 20px 0;
	}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin: 14px 0 0 12px;
	}
	.navbar .navbar-brand {
		width: 305px;
		height: 52px;
	}
	.page-header {
		min-height: 445px;
		padding: 83px 0;
		align-items: flex-start;
		font-size: 25px;
		line-height: 32px;
	}
	.page-header .page-area {
		max-width: none;
	}
	.page-header .h {
		font-size: 66px;
		line-height: 66px;
	}
	.page-header .h .small {
		margin-top: -4px;
		font-size: 29px;
		line-height: 41px;
	}
	.inform {
		padding: 36px 0 26px;
		font-size: 26px;
		line-height: normal;
	}
	.inform .text {
		min-height: 129px;
		padding-left: 129px;
	}
	.inform .text .logo {
		width: 129px;
		height: 129px;
	}
	.footer {
		padding: 58px 0;
	}
	.footer .logo {
		width: 507px;
		height: 86px;
		margin-bottom: 52px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 970px;
	}
	.page-header {
		background-position: center center;
	}
	.inform .text {
		padding-left: 149px;
	}
	.inform .text .logo {
		left: 10px;
		top: -4px;
	}
}